@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;800;900&family=Young+Serif&display=swap");

.headroom--pinned {
  @apply shadow-md;
}

a {
  @apply transition ease-in-out delay-100 duration-200;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply font-inter;
  @apply text-white/50;
}

:root {
  --green: #10e956;
}
